{% extends "auth/base.html" %}

{% block content%}
<div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 ">
        <h3 class="text-center">Sign In</h3>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <div class="mt-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Choose a username"
                    required>
            </div>

            <div class="mt-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter a password"
                    required>
            </div>

            <div class="mt-3">
                <div class="row justify-content-center">
                    <button class="btn btn-success col-6 text-white" type="submit">Sign In</button>
                </div>
            </div>

            <div class="mt-3">
                <div class="row text-center">
                    <a href="../../" class="text-reset text-decoration-none">Not Registered ? Register Here</a>
                </div>
            </div>

        </form>

    </div>
</div>
<script>
    "{% if messages %}"
    "{% for message in messages %}"
    Swal.fire({
        toast: true,
        position: 'top-end',
        icon: 'error',
        title: "{{ message }}",
        showConfirmButton: false,
        timer: 3000
    });
    "{% endfor %}"
    "{% endif %}"
</script>

{% endblock%}